
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));
html {
    scroll-behavior: smooth;
}
@theme {
  /* Animación del punto dentro de la cápsula */
  @keyframes scroll-dot {
    0% { opacity: 0; transform: translate(-50%, 0); }
    15% { opacity: 1; }
    85% { opacity: 1; }
    100% { opacity: 0; transform: translate(-50%, 20px); }
  }

  /* Animación de las flechas inferiores */
  @keyframes arrow-fades {
    0% { opacity: 0; transform: translateY(-5px); }
    50% { opacity: 1; transform: translateY(0); }
    100% { opacity: 0; transform: translateY(5px); }
  }

  /* Registro de utilidades de animación */
  --animate-scroll-dot: scroll-dot 2s infinite;
  --animate-arrow-fades: arrow-fades 2s infinite;
}
section {
  
  scroll-margin-top: 10vh; 
}
.font-poppins {
    font-family: var(--font-poppins);
}
:root {
  --bg: 255 255 255;
  --text: 17 24 39;
}

@theme {
    --font-poppins: 'Poppins', sans-serif;
}

@theme {
    --shadow-icon: 10px 10px 19px #00000033, -10px -10px 19px #ffffff2e
}
@theme {
    --shadow-card: 5px 5px 9px #0000008a, -10px -10px 9px #024a7154
}

@theme {
    --shadow-button: 0px 0px 9px var(--tw-shadow-color, #0000008a), 0px 0px 14px var(--tw-shadow-color, #ffffff2e)
}

@theme {
    --bg-icon:  linear-gradient(145deg, #1e2024, #23272b)
}
